framework: auto-detect
storage: none

source https://nuget.org/api/v2
  nuget FSharp.Core >= ${fsharp-core.version}

group build
  source ../../../../submodules/mason/dist
    nuget Mason.Targets.Packager
    nuget Mason.Targets.Preprocessor
    nuget Mason.Targets.Verman

