framework auto-detect
storage none

source ../../../../dist
source https://api.nuget.org/v3/index.json
  nuget Forest.Core
  nuget Microsoft.Extensions.Caching.Memory
  nuget Microsoft.AspNetCore.Session
  nuget Microsoft.AspNetCore