[submodule "submodules/forest-web"]
	path = submodules/forest-web
	url = http://git.vdimensions.net/bonobo-git-server/forest-web.git
[submodule "submodules/mason"]
	path = submodules/mason
	url = https://github.com/ivaylo5ev/mason
[submodule "submodules/msbuild-dotnet-multitargeting"]
	path = submodules/msbuild-dotnet-multitargeting
	url = https://github.com/virtual-dimensions/msbuild-dotnet-multitargeting.git
[submodule "submodules/btw"]
	path = submodules/btw
	url = https://github.com/virtual-dimensions/btw.git
