# dirs

**/.nuget/
**/.svn/
**/.vs/
**/.vscode/
**/_[Rr]e[Ss]harper*/
**/_[Uu]pgrade[Rr]eport*/
**/bin/
**/obj/
**/out/
**/packages/
**/target/

# files

*.cproj.user
*.csproj.user
*.dbproj.user
*.desktop
*.[Dd]ot[Ss]ettings
*.[Dd]ot[Ss]ettings.user
*.fsproj.user
*.lnk
*.nproj.user
*.nupkg
*.[Oo]pen[Cc]over.[Ss]ettings
*.opensdf
*.[Rr]e[Ss]harper*
*.[Ss]tyle[Cc]op*
*.sdf
*.swp
*.suo
*.testsettings
*.tmp
*.userprefs
*.vbproj.user
*.vsmdi
*~$*.dot
browse.VC.db
desktop.ini
[Ss]tyle[Cc]op.*
[Tt]humbs.db
[Uu]pgrade[Ll]og.[Xx][Mm][Ll]

# anything else

[~-]*

