framework auto-detect
storage none

source ../dist
source ../../axle/dist
source https://api.nuget.org/v3/index.json

nuget FSharp.Core < 4.7

nuget System.Collections.Immutable

nuget WebSharper.FSharp
nuget WebSharper.UI < 4.5.9

nuget NUnit
nuget NUnit3TestAdapter

nuget Axle.Application
nuget Axle.Web.AspNetCore
nuget Axle.Web.WebSharper

nuget Forest.Core >= 2.0
nuget Forest.Engine
nuget Forest.Forms
nuget Forest.Web.AspNetCore