framework: auto-detect
storage: none

source https://api.nuget.org/v3/index.json
  nuget WebSharper.FSharp
  nuget WebSharper.UI < 4.5.9

source ../../../../../axle/dist/
  nuget Axle.Web.WebSharper

source ../../../../dist/
  nuget Forest.Core >= 2.0